html,
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

button,
input,
canvas,
a {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calBtn {
  height: 20vh;
}

.delBtn {
  height: 20vh;
}

.drawBtn {
  height: 74vh;
}

.hoverbtn {
  transition: ease 0.1s;
}

.hoverbtn:active {
  box-shadow: none;
  transform: scale(0.98);
}
